.container {
    background-image: url(https://www.wohnkunstgalerie.de/media/image/d3/1e/51/bg_schloss-sepia-bruecke-45_60_90_1_1_600x600.jpg);
    background-color: grey;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}
header {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
h1 {
    color: #ffffff;
}
.menu-container {
    width: 100%;
    height: 50px;
    background-color: #ffff82;
    border-top: 2px  solid black;
    border-bottom: 2px  solid black;
    padding-left: 300px;
    box-sizing: border-box;
}
/* .menu-container-try {
    width: 100%;
    height: 350px; 
    background-color: #d1a872;
    border-bottom: 2px solid black;
    display: none;
} */
.menu-item {
    display: inline-block;
    margin: 0px 30px auto;
    position: relative;

}
.submenu-container {
    width: 900px;
    visibility: hidden;
    position: absolute; 
    left: 0px;
    padding: 0px;
}

.submenu-item {
    background-color: #d1a872;
    list-style: none;
    visibility: hidden;
    color: black;
    position: relative;
    padding: 0px;
    /* margin: 5px 0px; */
}

.subsubmenu-container {
    position: absolute;
    visibility: hidden;
}
.subsubmenu-item {
    list-style: none;
    visibility: hidden;
    color: black;

}
.menu-item:hover {
    color: red;
}
/* .menu-item:hover .menu-container-try {
    display: block;
} */
.menu-item:hover .submenu-item {
     visibility: visible;
} 
.submenu-item:hover .subsubmenu-item {
    visibility: visible;
}
