.container {
    /* background-image: url(https://images3.alphacoders.com/102/thumb-1920-102727.jpg); */
    background-color: grey;
    background-position: center;
    width: 100%;
    height: 600px;
}
header {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
h1 {
    color: rgb(241, 10, 10);
}
.menu-container {
    width: 100%;
    height: 70px;
    background-color: #ffff82;
    border-top: 2px  solid black;
    border-bottom: 2px  solid black;
    position: relative;
    padding-left: 300px;
}
.menu-item {
    display: inline-block;
    margin: 10px 30px auto;
    position: relative;
}
.submenu-container {
    width: 900px;
    transform: translateX(-400px);
    /* background-color: #d1a872; */
    /* border-bottom: 2px solid black; */
    /* visibility: hidden; */
    position: absolute;  
}

.submenu-item {
    list-style: none;
    visibility: hidden;
    color: black;
    position: relative;
}

/* .subsubmenu-container {
    transform: translateX(100px);
    position: absolute;
    visibility: hidden;
} */
.subsubmenu-item {
    list-style: none;
    visibility: hidden;
    color: black;

}
.menu-item:hover {
    color: red;
}
.menu-item:hover .submenu-item {
     visibility: visible;
} 
.submenu-item:hover .subsubmenu-item {
    visibility: visible;
}
