h1 {
    color:blue;
    background-color:palegreen;
    text-align: center;
    line-height:100px;
    
}
#lala {
    color:#007f00;
    background-color:#cfa1a1;
    font-family: 'Open Sans';
}
p {
    color:rgb(255, 0, 0);
    font-family: 'Germania One', cursive;
    text-align:center;
    border: 3px solid violet;
    border-style:ridge;
    padding:20px 300px;
    margin:3px 300px;

}
.yellow-text{
    background-color:yellow;
    font-family: 'Anton', sans-serif;
}
h1 {
    font-family: 'Cormorant Garamond';
    padding:20px 30px;
}
body {
    background-color: rgb(44, 29, 29);
}
strong{
    border:5px solid rgb(76, 18, 168);
    border-style:double;
}