
body {
    
}

.nave {
    font-family: Verdana;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    margin: 15px 0px;

}

.menu-item {
    float: left;
    padding: 30px 15px;

}

#consolesbar{
    padding-top: 50px;
    padding-bottom: 40px;
    float: left;
    border-top: 1px solid #ECF0F1;
    border-bottom: 1px solid #ECF0F1;
}

h1 {
    font-size: 37px;
    width: 100%;
    padding: 10px 12px;
    background-color: #AD6A6C;
    color: white;
    letter-spacing: 10px;
}

#PC {
    float: left;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 80px;
    width: 45%; height: 58%;
}

#XBOX {
    float: left;
    padding-bottom: 15px;
    margin-right: 15px;
    padding-right: 20px;
    width: 18%; height: 28%;
}


#Switch {
    float: left;
    padding-bottom: 15px;
    margin-right: 15px;
    width: 18%; height: 28%;
}

#Nintendo3DS {
    float: left;
    padding-bottom: 15px;
    margin-right: 15px;
    padding-right: 20px;
    
    width: 18%; height: 28%;

}

#Play4 {
    float: left;
    padding-bottom: 15px;
    margin-right: 15px;
    width: 18%; height: 28%;
}

#aside {
    font-size: 12px;
    float: right;
    text-align: justify;
    width: 25%;
    padding-top: 35px;
    margin-right: 60px;
    padding-left: 30px;
    border-left: 1px solid #ECF0F1;
}

.about-us {
    font-family:  "Open Sans";
    
    line-height: 1.5;
}

.recommend {
    font-family:  "Open Sans";
    
    line-height: 1.5;
}

#about-us-img {
    width: 300px; height: 170px;
}


.sidetitle {
    width: 100%;
    padding: 10px;
    background-color: #5D2E46;
    color: white;
    font-size: 20px;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: justify;
    font-weight: 20;
    padding-left: 10px;

}

.titles {
    font-family: "Amaranth";
    text-transform: uppercase;
    letter-spacing: 3px;
}
.subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
}


#general {
    float: left;
    text-align: justify;
    width: 60%;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    
}

.generalsposts {
    float: left;
    text-align: justify;
    font-family: "Open Sans";
    line-height: 1.8;
}

.content {
    border-bottom: 1px dashed #ECF0F1;
}

.footer {
    float: bottom;
    width: 86%;
    margin-top: 20px;
    


}

.pages {
    float: left;
    margin: 0px 30px;
}

